pandas==2.2.3
protobuf==5.29.4
idna==3.10
pillow==11.1.0
pytz==2025.2
requests==2.32.3
frozenlist==1.5.0
pip==24.0
attrs==25.3.0
pydantic==2.10.6
torchaudio==2.2.2
sympy==1.13.3
GitPython==3.1.44
huggingface-hub==0.29.3
networkx==3.4.2
sentry-sdk==2.24.1
tqdm==4.67.1
urllib3==2.3.0
click==8.1.8
tzdata==2025.2
numpy==1.26.4
multidict==6.2.0
tokenizers==0.21.1
setuptools==65.5.0
multiprocess==0.70.16
xxhash==3.5.0
propcache==0.3.0
fsspec==2024.12.0
gitdb==4.0.12
psutil==7.0.0
aiohttp==3.11.14
python-dateutil==2.9.0.post0
mpmath==1.3.0
yarl==1.18.3
charset-normalizer==3.4.1
packaging==24.2
wandb==0.19.8
antlr4-python3-runtime==4.9.3
torch==2.2.2
certifi==2025.1.31
setproctitle==1.3.5
platformdirs==4.3.7
pydantic_core==2.27.2
Jinja2==3.1.6
torchvision==0.17.2
filelock==3.18.0
pyarrow==19.0.1
dill==0.3.8
docker-pycreds==0.4.0
aiohappyeyeballs==2.6.1
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
smmap==5.0.2
hydra-core==1.3.2
lightning-utilities==0.14.2
annotated-types==0.7.0
omegaconf==2.3.0
six==1.17.0
torchmetrics==1.7.0
datasets==3.4.1
MarkupSafe==3.0.2
